<form {{action "processAPI" on="submit"}} class="col-md-6 margin-bottom" id="whisper-form">
  <div class="form-group">
    <label for="whisper">Whisper</label>
    <textarea class="form-control" id="whisper" placeholder="share a secret..." rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Whisper</button>
</form>

<div class="clearfix"></div>
